.name-style{
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.brand{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.45);
}
.price{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.45);
}