.home-container {
    min-height: 100vh;
    // .slider {
    //     display              : grid;
    //     grid-template-columns: repeat(3, 1fr);
    //     grid-template-areas  : 'aa aa bb'
    //                             'aa aa cc'
    // }
    .banner{
        width: 100%;
        height: auto;
        padding-bottom: 22%;
    }
    margin-bottom: 30px;

    .item {
        height: 137px;
    }

    .slide1 {
        grid-area: aa;
    }

    ;

    // .slide2 {
    //     grid-area: bb;
    // }

    // ;

    // .slide3 {
    //     grid-area: cc;
    // }

}