*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.marquee-container{
    width: 100%;
    background-color: darkred;
    color:white;
    padding: 7px 0;
    h5{
        padding: 0 30px;
        text-transform: uppercase;
    }
}